*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
p {
	font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana,
}
.container {
	background-image: url(img/MainBackground.png);
	background-size: 100% 100%;
}
.logo {
	position: relative;
	width: 100%;
	height: 400px;
	/*background:-webkit-gradient(radial,50% 50%,50,50% 50%,400,from(#9CE7FD),to(#66CCFF)); */
}
.logo p {
	width: 290px;
	position: relative;
	top: 100px;
	margin: 0 auto;
	font-size: 2.3em;
	color: #fff;
	font-weight: 700;
}
.logo img{
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	position: relative;
	top: 15%;
}
.links{
	overflow: hidden;
	background-color: #fff;
}
.build {
	width: 300px;
	height: 300px;
	text-align: center;
}
.debug {
	margin: 20px 0 30px 100px;
	float :left;
}
.release {
	margin: 20px 100px 30px 0;
	float: right;
}
@media screen and (max-width: 800px) {
    .build {
        display: block;
        float: none;
        width: 300px;
        height: 300px;
        margin: 20px auto ;
    }
}
.build img {
	width: 200px;
	height: 200px;
}
.build p {
	font-size: 1.5em;
	color: #595959;
}
#copyright {
	width: 300px;
	margin: 0 auto;
	font-size: .8em;
	color: #ccc;
}
